* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e3;
  
}

.form:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.btn {
  background: #4267b2;

  border: 1px solid #4267b2;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 5px;
  user-select: none;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}

.file-input {
  border: 1px solid red;
  padding: 5px;
  margin: 10px;
}

.input {
  width: 373px;
  height: 60px;
  border-radius: 12px;
  background-color: white;
  font-size: 1.25rem;
  
}

.gallery {
  height: 100%;
  max-width: 90%;
  background-color: #e3e3e3;
  border: 1px solid black;
  margin: 0 auto;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
}

.img {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
}

.main-nav {
  width: 100%;
  height: 4.125rem;
  background-color: #ff7f00;
  color: #ffffff;
  margin-bottom: 1.625rem;
}

/* list helpers */

/* מבטל הגדרות בסיסיות של רשימה */

/* Helpers */

/* flex helpers */

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.flex.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.clean-list {
  list-style-type: none;
}

.footer {
  width: 100%;
  height: 12.9375rem;
  background-color: #ff7f00;
  color: #ffffff;
  text-align: center;
  flex-direction: column;
  align-items: center;
  
}

.canvas-container {
  height: 34.4375rem;
  width: 33.8125rem;
  margin-left: 3.1875rem;
  margin-right: 6.25rem;
  margin-bottom: 1.4375rem;
  padding: 0;
  border: 0;
}

#canvas-container {
  height: auto;
  width: auto;
}

.font {
  width: 60px;
  height: 60px;
  background-color: white
}
button{
  background-color: white

}
.logo {
  width: 133px;
  height: 22px;

}

.nav-txt {
  width: 66px;
  height: 19px;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.footer-txt {
  width: 206px;
  height: 19px;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.nav-txt:hover {
  cursor: pointer;
  color: #040a2c;
}

.img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.font-input {
  width: 218px;
  height: 60px;
  border-radius: 12px;
  background-color: white;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.color-btn {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.color {
  border: 1px solid;
  display: inline-block;
  background: url(icons/paint-board-and-brush.png) no-repeat;
  background-size: 61.96px 64px;
  background-position: center;
  height: 69px;
  width: 75px;
  background-color: white;
}

.share {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  width: 120px;
  height: 60px;
  border-radius: 12px;
  background-color: #ff7f00;
}

.modal {
  width: 211px;
  height: 202px;
  border-radius: 12px;
  background-color: var(--white);
}

.download {
  width: 120px;
  height: 60px;
  border-radius: 12px;
  background-color: #ff7f00;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.font:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.share:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}


.meme-container{
  height: 34.4375rem;
  margin-left:6.25rem;
  margin-right: 6.25rem;
  margin-bottom: 1.4375rem;
  padding: 0;
  border: 0;
  position: relative;
}

.meme-img{
  z-index: 2;
  position: absolute;
  width: 500px;
  height: 500px;
  top: 91px;
  left: 548px;
  transition: display 0.3s;
  display: none;
}

ul{
  height: 100%;
  align-items: center;
  margin-left: 49px;
  margin-right: 49px;
  margin-top: 0;
}

.screen {
  top: 0;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: opacity .6s;
  z-index: 1;
}
.menu-open .screen {
  visibility: visible;
  opacity: 1;
}

.menu-open .main-menu {
  transform: translate(0, 0);
}


.hide{
  display: block;
}

.search-box{
display: block;
  color: #7a7a7a;
  
  font-size: 19px;
  /* height: 102px;*?
  width: 100%;
  /* background-color: #ffffff; */
}

.show{
  display: none;

}


/* @media  (max-width: 9150x) {

  .gallery {
    /* width: 46.25rem; */
    /* min-height: 58.25rem; */
  /* }
  .footer {
    width: 100%;
    max-height: 12.9375rem;
    background-color: #ff7f00;
    color: #ffffff;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
  }
}  */